title = "Pier"

[port]
http  = 8987
pprof = 44555

[log]
level = "debug"
dir = "logs"
filename = "pier.log"
report_caller = false

[bitxhub]
addr = "localhost:60011"
validators = [
    "0x000f1a7a08ccc48e5d30f80850cf1cf283aa3abd",
    "0xe93b92f1da08f925bdee44e91e7768380ae83307",
    "0xb18c8575e3284e79b92100025a31378feb8100d6",
    "0x856E2B9A5FA82FD1B031D1FF6863864DBAC7995D",
]

[appchain]
plugin = "fabric-client-1.4.so"
config = "fabric"
